* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1, h2, h3 {
    font-size: 16px;
}

body {
    background-color: #fafafa;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 12px;
    flex-wrap: wrap;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    height: 500px; ;
    width: 420px;
    border-radius: 32px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 3px 12px rgba(0,0,0);
}

#moldura-foto {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.relogio {
    background-color: #fafafa;
    position: relative;
}



#foto {
    width: 120%;
    height: 300px;
    background-color: #c2c2c2;
}

#informacoes {
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#box-preco-produto{

    background-color: #fafafade;
    color: #fafafade;
}

#box-preco-desconto {
    background-color: #202020;
    color: #fafafa;
    font-weight: bold;
    font-family: sans-serif;
    padding-left: 5px;
    display: inline-block;
    padding-right: 5px;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
}



